body{
    
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #c50e0e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media  only screen and (min-width: 600px){
    h2{
       text-align: center
    } 
}
h2{
    font-weight:700;
    font-size: 8em;
    width: 50%;
    color: #fff;
    margin: 0;
    padding: 0px; 
    text-shadow: 0 20 20 rgba(0, 0, 0, .5);
}

.box{
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #fb0f0f;
    border:5px solid black;
    overflow:hidden;
    border-radius: 50%;
    box-shadow: inset 0 0 100px  rgba(255, 255, 255, 1), 0 20px 50px rgba(0, 0, 0, .5);
}

.box img{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 850px;
    

}

.box:before{
content: '';
position: absolute;
bottom: 0;
left: 0;
background-color: #fff;
width: 100%;
height: 130px;

}


.box:after{
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    background-color: #fff;
    transform: translateX(-50%);
    width: 350px;
    height: 250px;
    z-index: 2;
    border-radius: 50%;
    background: linear-gradient(0deg, transparent, rgba(255,255,255,.2));
    
    }

    .snow{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        mix-blend-mode: screen;
        width: 100%;
        height: 100%;
        background: url('Snowh.png');
    }

    .snow:nth-child(1){
        animation: animate 10s linear infinite;
    }

    .snow:nth-child(2){
        animation: animate2 15s linear infinite;
    }

    .snow:nth-child(3){
        animation: animate3 20s linear infinite;
    }

    .snow:nth-child(4){
        animation: animate2 15s linear infinite;
    }

    .snow:nth-child(5){
        animation: animate5 17s linear infinite;
    }

    @keyframes animate
    {
        0%
        {
            background-position-x: 50px;
            background-position-y: 0px;
        }
        100%{
            background-position-x: 50px;
            background-position-y: 600px; 
        }
    }

    @keyframes animate2
    {
        0%
        {
            background-position-x: 100px;
            background-position-y: 0px;
        }
        100%{
            background-position-x: 100px;
            background-position-y: 600px; 
        }
    }
    

    @keyframes animate3
    {
        0%
        {
            transform: scale(1.5);
            background-position-x:-100px;
            background-position-y: 0px;
        }
        100%{
            transform: scale(1.5);
            background-position-x: -100px;
            background-position-y: 600px; 
        }
    }